Cathy NANGINI<br>
Dataviz Scientist at LSCE (Climate and Environment Sciences Laboratory)<br>
<img align="left" width="40%" src="http://www.lsce.ipsl.fr/Css/img/banniere_LSCE_75.png"><br><br>
<hr>

Coded: 15.02.2016
Last modified: 18.02.2016

In [1]:
#CREATE A CONTROL FILE TO TEST ANALOGUES VIS

In [2]:
import numpy as np
import pandas as pd
import collections
import os
import datetime
from datetime import date

In [3]:
num_analogues = 10 #number of analogues per time of interest
num_adate = num_analogues * 2

numdays = 2  #number of days in one decade

In [4]:
datetime.date(2000, 5, 1)

datetime.date(2000, 5, 1)

In [5]:
#DEFINE DATE LIST FOR REF PERIOD AND DATE LIST FOR CORRESPONDING ANALOGUES

#REF PERIOD - DECADE 1
base1 = datetime.date.today() #yr 2016
date_list1 = [base1 - datetime.timedelta(days=x) for x in range(0, numdays)]
#str(date_list[0])
date_list1[0].strftime("%Y%m%d")

for i, item in enumerate(date_list1):
    date_list1[i] = item.strftime("%Y%m%d")

#date_list1

#ANLG PERIOD 1 - num_analogues DAYS IN 1955
abase1 = datetime.date(1955, 2, 1)
adate_list1 = [abase1 - datetime.timedelta(days=x) for x in range(0, num_adate)]

for i, item in enumerate(adate_list1):
    adate_list1[i] = item.strftime("%Y%m%d")

adate_list1

['19550201',
 '19550131',
 '19550130',
 '19550129',
 '19550128',
 '19550127',
 '19550126',
 '19550125',
 '19550124',
 '19550123',
 '19550122',
 '19550121',
 '19550120',
 '19550119',
 '19550118',
 '19550117',
 '19550116',
 '19550115',
 '19550114',
 '19550113']

In [6]:
#DECADE 2

base2 = datetime.date(2000, 5, 1) #yr 2000
date_list2 = [base2 - datetime.timedelta(days=x) for x in range(0, numdays)]

for i, item in enumerate(date_list2):
    date_list2[i] = item.strftime("%Y%m%d")

#date_list2

#ANLG PERIOD 2 - num_analogues DAYS IN 1984
abase2 = datetime.date(1984, 6, 30)
adate_list2 = [abase2 - datetime.timedelta(days=x) for x in range(0, num_adate)]

for i, item in enumerate(adate_list2):
    adate_list2[i] = item.strftime("%Y%m%d")

#adate_list2

In [7]:
#DECADE 3

base3 = datetime.date(1990, 7, 10) #yr 1990
date_list3 = [base3 - datetime.timedelta(days=x) for x in range(0, numdays)]

for i, item in enumerate(date_list3):
    date_list3[i] = item.strftime("%Y%m%d")

#date_list3

#ANLG PERIOD 3 - num_analogues DAYS IN 1968
abase3 = datetime.date(1968, 11, 11)
adate_list3 = [abase3 - datetime.timedelta(days=x) for x in range(0, num_adate)]

for i, item in enumerate(adate_list3):
    adate_list3[i] = item.strftime("%Y%m%d")

#adate_list3

In [8]:
#DECADE 4

base4 = datetime.date(1970, 6, 11) #yr 1970
date_list4 = [base4 - datetime.timedelta(days=x) for x in range(0, numdays)]

for i, item in enumerate(date_list4):
    date_list4[i] = item.strftime("%Y%m%d")

#date_list4

#ANLG PERIOD 4 - num_analogues DAYS IN 2006
abase4 = datetime.date(2006, 9, 15)
adate_list4 = [abase4 - datetime.timedelta(days=x) for x in range(0, num_adate)]

for i, item in enumerate(adate_list4):
    adate_list4[i] = item.strftime("%Y%m%d")

#adate_list4

In [9]:
#DECADE 5

base5 = datetime.date(1950, 6, 11) #yr 1950
date_list5 = [base5 - datetime.timedelta(days=x) for x in range(0, numdays)]

for i, item in enumerate(date_list5):
    date_list5[i] = item.strftime("%Y%m%d")

#date_list5

#ANLG PERIOD 5 - num_analogues DAYS IN 1973
abase5 = datetime.date(1973, 8, 22)
adate_list5 = [abase5 - datetime.timedelta(days=x) for x in range(0, num_adate)]

for i, item in enumerate(adate_list5):
    adate_list5[i] = item.strftime("%Y%m%d")

#adate_list5

In [10]:
#CONCATENATE REF DAYS ACROSS DECADES
date_list = date_list1 + date_list2 + date_list3 + date_list4 + date_list5
date_list

#CONCATENATE CORRESPONDING ANALOGUE DAYS IN EACH DECADE
adate_list = adate_list1 + adate_list2 + adate_list3 + adate_list4 + adate_list5
len(adate_list)

100

In [11]:
#my_date_list = [base - datetime.timedelta(days=x) for x in range(0, numdays)]
#my_date_list #= [d.date() for d in my_date_list]

In [12]:
#CREATE A DATAFRAME WITH INDEX = DATE LIST

dfA = pd.DataFrame(index=date_list)
dfA

Empty DataFrame
Columns: []
Index: [20160219, 20160218, 20000501, 20000430, 19900710, 19900709, 19700611, 19700610, 19500611, 19500610]

In [13]:
#REPLICATE INDEX COL num_analogues TIMES PER ROW

dfA = dfA.loc[np.repeat(dfA.index.values,num_analogues)]
dfA.head(25)

Empty DataFrame
Columns: []
Index: [20160219, 20160219, 20160219, 20160219, 20160219, 20160219, 20160219, 20160219, 20160219, 20160219, 20160218, 20160218, 20160218, 20160218, 20160218, 20160218, 20160218, 20160218, 20160218, 20160218, 20000501, 20000501, 20000501, 20000501, 20000501]

In [14]:
dfA.shape

(100, 0)

In [15]:
dfA['dateAnlg'] = adate_list
#dfA.loc[:,'dateAnlg'] = adate_list
dfA

/usr/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

          dateAnlg
20160219  19550201
20160219  19550131
20160219  19550130
20160219  19550129
20160219  19550128
20160219  19550127
20160219  19550126
20160219  19550125
20160219  19550124
20160219  19550123
20160218  19550122
20160218  19550121
20160218  19550120
20160218  19550119
20160218  19550118
20160218  19550117
20160218  19550116
20160218  19550115
20160218  19550114
20160218  19550113
20000501  19840630
20000501  19840629
20000501  19840628
20000501  19840627
20000501  19840626
20000501  19840625
20000501  19840624
20000501  19840623
20000501  19840622
20000501  19840621
...            ...
19700610  20060905
19700610  20060904
19700610  20060903
19700610  20060902
19700610  20060901
19700610  20060831
19700610  20060830
19700610  20060829
19700610  20060828
19700610  20060827
19500611  19730822
19500611  19730821
19500611  19730820
19500611  19730819
19500611  19730818
19500611  19730817
19500611  19730816
19500611  19730815
19500611  19730814
19500611  19730813
19500610  19730812
19500610  19730811
19500610  19730810
19500610  19730809
19500610  19730808
19500610  19730807
19500610  19730806
19500610  19730805
19500610  19730804
19500610  19730803

[100 rows x 1 columns]

In [16]:
dfA.shape

(100, 1)

In [17]:
dfA.index.name = 'dateRef'
dfA.head(10)

          dateAnlg
dateRef
20160219  19550201
20160219  19550131
20160219  19550130
20160219  19550129
20160219  19550128
20160219  19550127
20160219  19550126
20160219  19550125
20160219  19550124
20160219  19550123

In [18]:
#SAVE TO TSV FILE

dfA.to_csv('analogues_control.tsv', sep='\t')