In [243]:
#Created: 15.02.2016
#Last modified: 18.02.2016
#               29.02.2016 add Corr and Dis cols
#               25.05.2016 updated input file and created truncated file for testing
#               24.05.2016 tested reading in file produced in birdhouse analogs process
#               05.09.2016 format test file for dc chart brush problem
#               09.09.2016 added test file that spans two months to test date handling
#                          change float format to 7 places in file save (float_format='%.7f')
#               13.09.2016 replace hard-coded num_analogues value with var name
#                          new test file with 11 analogues

In [1]:
import numpy as np
import pandas as pd
import collections
import os

In [2]:
num_analogues = 20 #number of analogues searched for
num_cols = 3 #dateAnlg, Dis, Corr

In [3]:
pwd

u'/homel/cnangini/PROJECTS/analogues'

In [5]:
#To read file produced in birdhouse
dfS = pd.DataFrame()
#analogs = 'http://birdhouse-lsce.extra.cea.fr:8090/wpsoutputs/flyingpigeon/output_txt-0797016c-378e-11e6-91dd-41d8cd554993.txt'
#analogs = 'http://localhost:8090/wpsoutputs/flyingpigeon/analogs-c26ba398-711e-11e6-8d5a-fb3204a8dad1.txt'

#Analysis period > 1 year
#analogs = 'http://birdhouse-lsce.extra.cea.fr:8090/wpsoutputs/flyingpigeon/analogs-5ee81d98-6fc9-11e6-a296-4d3fe2c8a29e.txt'
#analogs = 'http://birdhouse-lsce.extra.cea.fr:8090/wpsoutputs/flyingpigeon/analogs-73cd782c-74f4-11e6-bf5f-f73f2a3d7e35.txt'

#bbox x: [-80,50], y: [22.5,70], 11 analogues
#analogs = 'http://localhost:8090/wpsoutputs/flyingpigeon/analogs-12f189be-79a7-11e6-b7f7-e7ff4fd8b248.txt'

#Analysis period spans two months (30.06.2013 to 02.07.2013)
#analogs = 'http://localhost:8090/wpsoutputs/flyingpigeon/analogs-7aafc4ec-74ea-11e6-b77d-eb5606a7fe9f.txt'

#one day only (03.01.2013)
#analogs = 'http://localhost:8090/wpsoutputs/flyingpigeon/analogs-9841a808-7504-11e6-b77d-eb5606a7fe9f.txt'

analogs = 'http://www-lscedods.cea.fr/DASE/ana_slp_surface_base_rms_NA_sim_1948-01-01_2016-09-23_base_1948-01-01_2016-09-23_-80.0_50.0_22.5_70.0_1_30_20.txt'

dfS = pd.read_csv(analogs, delimiter=r"\s+", index_col=0)
dfS.head(10)

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
19480101,19560126,19850131,20110114,19850130,19980114,19551224,19521221,19681220,19540119,19870101,...,0.451300,0.356393,0.639460,0.383338,0.619769,0.575454,0.356389,0.587782,0.367948,0.546730
19480102,19681221,20001211,19551224,20110112,19560126,19600121,19741220,19681220,19521221,19741219,...,0.508294,0.500434,0.667818,0.454554,0.560843,0.438960,0.326965,0.455356,0.478750,0.595530
19480103,19491206,19741222,19750110,19641231,19491207,19921215,19851222,19741221,19931217,19991211,...,0.645103,0.554328,0.729818,0.448795,0.410199,0.518829,0.639049,0.647471,0.452940,0.492896
19480104,20031217,19921215,19891221,19921216,19491207,19491206,20020121,19510114,19931217,19550120,...,0.531300,0.551238,0.607714,0.555354,0.424680,0.571842,0.452101,0.329466,0.677823,0.455432
19480105,19971210,19971209,19931217,19591228,19971211,19591230,19591229,19950129,20020121,19550120,...,0.545885,0.571774,0.488988,0.308756,0.525776,0.551664,0.551487,0.445159,0.466376,0.492252
19480106,20020122,19710120,19931217,19991211,19591227,20020121,19991210,19950129,19710126,20040113,...,0.619992,0.580125,0.596970,0.578637,0.516381,0.508655,0.506890,0.576995,0.515145,0.557619
19480107,19781214,19591227,19510112,19811214,19991211,19591228,20040114,19991212,19581213,19571210,...,0.632526,0.606254,0.704889,0.590619,0.689622,0.547238,0.497128,0.493634,0.555382,0.594444
19480108,20040114,19591228,19781214,19931217,19811213,19510113,19660102,19740205,19811214,20030102,...,0.624003,0.574805,0.547084,0.642704,0.667571,0.634750,0.541569,0.398236,0.615544,0.599792
19480109,20021230,20020121,19931217,19681220,19861230,19590114,19660206,19811213,19660207,19590113,...,0.624890,0.436524,0.451390,0.531034,0.440639,0.490920,0.497755,0.519086,0.424741,0.440802
19480110,19550128,19710116,19800130,19850126,20030101,20020122,20020121,19590114,19550129,19861231,...,0.500901,0.646659,0.669257,0.608757,0.571818,0.507996,0.523361,0.678171,0.593135,0.629520

In [4]:
# Create dataframe from analogues file
# Latest file: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat
# 2015: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2015.dat
# Note that last day in 2015 file is 20151225 (and NOT 20151231) because that is the last sunday of Dec 2015.

#dfS = pd.DataFrame()
#dfS = pd.read_csv('/home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat', delimiter=' ', index_col=0)
#dfS.set_index('Date', inplace=True)

#dfS.head(5)

#dfS.index.name

In [6]:
dfS.tail(5)

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
20160917,19550924,19730828,19790924,19900901,19900902,20130825,19900831,19541004,19670916,19880823,...,0.494911,0.530220,0.523700,0.550937,0.587929,0.578387,0.476094,0.553288,0.686999,0.637255
20160918,20050821,19930927,20050822,19781001,20130825,19670912,19840907,19690907,19730828,20130911,...,0.546377,0.613898,0.554076,0.519887,0.467421,0.558831,0.578775,0.528234,0.560866,0.569862
20160919,19930927,19690907,19670915,19840907,19590901,19720928,20050821,19670912,19690906,19630906,...,0.536014,0.645193,0.533333,0.542052,0.556240,0.540978,0.601654,0.551885,0.506031,0.541926
20160920,19590928,19590904,19970831,19980829,19990911,19990914,19670828,19670821,19810916,19930927,...,0.516680,0.449324,0.584607,0.629824,0.501016,0.350878,0.452059,0.543318,0.532147,0.530831
20160921,19970831,19810912,19970901,19680926,19670828,20010823,19990912,20020822,20130904,19790906,...,0.469278,0.547674,0.493447,0.568598,0.621988,0.470806,0.484619,0.415522,0.610709,0.456672

In [7]:
dfS.index

Int64Index([19480101, 19480102, 19480103, 19480104, 19480105, 19480106, 19480107, 19480108, 19480109, 19480110, 19480111, 19480112, 19480113, 19480114, 19480115, 19480116, 19480117, 19480118, 19480119, 19480120, 19480121, 19480122, 19480123, 19480124, 19480125, 19480126, 19480127, 19480128, 19480129, 19480130, 19480131, 19480201, 19480202, 19480203, 19480204, 19480205, 19480206, 19480207, 19480208, 19480209, 19480210, 19480211, 19480212, 19480213, 19480214, 19480215, 19480216, 19480217, 19480218, 19480219, 19480220, 19480221, 19480222, 19480223, 19480224, 19480225, 19480226, 19480227, 19480228, 19480229, 19480301, 19480302, 19480303, 19480304, 19480305, 19480306, 19480307, 19480308, 19480309, 19480310, 19480311, 19480312, 19480313, 19480314, 19480315, 19480316, 19480317, 19480318, 19480319, 19480320, 19480321, 19480322, 19480323, 19480324, 19480325, 19480326, 19480327, 19480328, 19480329, 19480330, 19480331, 19480401, 19480402, 19480403, 19480404, 19480405, 19480406, 19480407, 19480408, 19480409, ...], dtype='int64')

In [8]:
len(dfS.index)

25102

In [9]:
dfS.shape

(25102, 60)

In [10]:
(dfS.shape[1])/3

20

In [11]:
#Chop off 2016 rows NO!!! there will still be 2016 dates found as analogues, which messes up js script
#dfS = dfS[dfS.index <= 20151231]

In [12]:
#SAVE DATE INDEX
#DF['id2'] = DF.index
dfS['dateRef'] = dfS.index
dfS['dateRef'].head(10)

date
19480101    19480101
19480102    19480102
19480103    19480103
19480104    19480104
19480105    19480105
19480106    19480106
19480107    19480107
19480108    19480108
19480109    19480109
19480110    19480110
Name: dateRef, dtype: int64

In [13]:
dfS.iloc[0:5, 0:num_analogues]

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,date.an11,date.an12,date.an13,date.an14,date.an15,date.an16,date.an17,date.an18,date.an19,date.an20
date,,,,,,,,,,,,,,,,,,,,
19480101,19560126,19850131,20110114,19850130,19980114,19551224,19521221,19681220,19540119,19870101,19871224,19610109,20001211,20010108,20110112,19560125,19651223,19651213,20031209,20110113
19480102,19681221,20001211,19551224,20110112,19560126,19600121,19741220,19681220,19521221,19741219,19850131,19670126,19681222,20110114,19980108,19670127,19971223,19980114,19851223,19670128
19480103,19491206,19741222,19750110,19641231,19491207,19921215,19851222,19741221,19931217,19991211,19991212,19750109,19950124,20031217,19921216,20020120,19991213,19921214,19640202,19681220
19480104,20031217,19921215,19891221,19921216,19491207,19491206,20020121,19510114,19931217,19550120,19741224,19851222,19641231,19931218,19681220,19741223,19651219,19551224,19991213,19921206
19480105,19971210,19971209,19931217,19591228,19971211,19591230,19591229,19950129,20020121,19550120,19861228,19931218,19741224,19551224,20020122,19861230,19680115,19510114,20010104,20020120

In [14]:
tmp = num_analogues + 2
dfS.iloc[0:5, 0:tmp]

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,date.an13,date.an14,date.an15,date.an16,date.an17,date.an18,date.an19,date.an20,dis1,dis2
date,,,,,,,,,,,,,,,,,,,,,
19480101,19560126,19850131,20110114,19850130,19980114,19551224,19521221,19681220,19540119,19870101,...,20001211,20010108,20110112,19560125,19651223,19651213,20031209,20110113,515.034,596.280
19480102,19681221,20001211,19551224,20110112,19560126,19600121,19741220,19681220,19521221,19741219,...,19681222,20110114,19980108,19670127,19971223,19980114,19851223,19670128,692.016,699.794
19480103,19491206,19741222,19750110,19641231,19491207,19921215,19851222,19741221,19931217,19991211,...,19950124,20031217,19921216,20020120,19991213,19921214,19640202,19681220,668.841,771.007
19480104,20031217,19921215,19891221,19921216,19491207,19491206,20020121,19510114,19931217,19550120,...,19641231,19931218,19681220,19741223,19651219,19551224,19991213,19921206,740.066,799.577
19480105,19971210,19971209,19931217,19591228,19971211,19591230,19591229,19950129,20020121,19550120,...,19741224,19551224,20020122,19861230,19680115,19510114,20010104,20020120,767.951,788.899

In [15]:
dfS.iloc[0:5, num_analogues:2*num_analogues]

,dis1,dis2,dis3,dis4,dis5,dis6,dis7,dis8,dis9,dis10,dis11,dis12,dis13,dis14,dis15,dis16,dis17,dis18,dis19,dis20
date,,,,,,,,,,,,,,,,,,,,
19480101,515.034,596.280,617.760,634.687,637.823,638.138,645.760,647.538,648.427,650.624,653.039,658.585,666.854,667.827,668.390,674.883,680.150,683.547,686.121,686.633
19480102,692.016,699.794,712.922,742.944,755.533,760.423,767.120,768.406,787.050,797.082,797.162,799.264,813.808,815.246,816.868,819.609,819.895,821.457,822.148,822.886
19480103,668.841,771.007,788.757,793.463,793.981,794.718,797.097,809.283,811.915,813.207,814.863,823.584,825.919,827.578,827.972,829.743,830.399,833.843,837.687,845.400
19480104,740.066,799.577,806.550,808.457,811.225,816.784,818.396,821.668,822.509,825.544,826.043,828.015,831.074,836.530,837.065,837.426,851.314,854.682,854.854,856.017
19480105,767.951,788.899,812.595,814.832,816.054,817.158,824.976,836.605,837.994,838.440,852.658,854.182,856.888,863.888,864.995,868.510,868.862,869.480,869.800,871.417

In [16]:
dfS.iloc[0:5, 2*num_analogues:3*num_analogues]

,cor1,cor2,cor3,cor4,cor5,cor6,cor7,cor8,cor9,cor10,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,
19480101,0.726977,0.652806,0.623012,0.506846,0.523203,0.457494,0.426564,0.649643,0.608331,0.493753,0.451300,0.356393,0.639460,0.383338,0.619769,0.575454,0.356389,0.587782,0.367948,0.546730
19480102,0.760688,0.604350,0.564686,0.636293,0.549962,0.649019,0.635242,0.609948,0.445098,0.539979,0.508294,0.500434,0.667818,0.454554,0.560843,0.438960,0.326965,0.455356,0.478750,0.595530
19480103,0.672832,0.612277,0.658779,0.658911,0.557392,0.560468,0.570430,0.647108,0.567161,0.583021,0.645103,0.554328,0.729818,0.448795,0.410199,0.518829,0.639049,0.647471,0.452940,0.492896
19480104,0.521121,0.567693,0.616051,0.494120,0.589285,0.550241,0.574624,0.517245,0.518212,0.444257,0.531300,0.551238,0.607714,0.555354,0.424680,0.571842,0.452101,0.329466,0.677823,0.455432
19480105,0.495459,0.487993,0.557713,0.588912,0.515174,0.435785,0.469315,0.558919,0.576647,0.402942,0.545885,0.571774,0.488988,0.308756,0.525776,0.551664,0.551487,0.445159,0.466376,0.492252

In [17]:
#TRANSPOSE ANLG DATE COLS INTO SINGLE COL

#Define temporary df containing only anlg dates cols
df_anlg = dfS.iloc[:, 0:num_analogues]

#remove index name before transpose (stack)
df_anlg.index.name = ""

#transpose (stack)into single col
dateStack = df_anlg.stack()
dateStack.head(25)

19480101  date.an1     19560126
          date.an2     19850131
          date.an3     20110114
          date.an4     19850130
          date.an5     19980114
          date.an6     19551224
          date.an7     19521221
          date.an8     19681220
          date.an9     19540119
          date.an10    19870101
          date.an11    19871224
          date.an12    19610109
          date.an13    20001211
          date.an14    20010108
          date.an15    20110112
          date.an16    19560125
          date.an17    19651223
          date.an18    19651213
          date.an19    20031209
          date.an20    20110113
19480102  date.an1     19681221
          date.an2     20001211
          date.an3     19551224
          date.an4     20110112
          date.an5     19560126
dtype: int64

In [18]:
#TRANSPOSE DIS COLS INTO SINGLE COL

#Define temporary df containing only dis cols
df_dis = dfS.iloc[:, num_analogues:2*num_analogues]

#remove index name before transpose (stack)
df_dis.index.name = ""

#transpose (stack) into single col and take absolute value
disStack = df_dis.stack().abs()
disStack.head(25)

19480101  dis1     515.034
          dis2     596.280
          dis3     617.760
          dis4     634.687
          dis5     637.823
          dis6     638.138
          dis7     645.760
          dis8     647.538
          dis9     648.427
          dis10    650.624
          dis11    653.039
          dis12    658.585
          dis13    666.854
          dis14    667.827
          dis15    668.390
          dis16    674.883
          dis17    680.150
          dis18    683.547
          dis19    686.121
          dis20    686.633
19480102  dis1     692.016
          dis2     699.794
          dis3     712.922
          dis4     742.944
          dis5     755.533
dtype: float64

In [19]:
#TRANSPOSE CORR COLS INTO SINGLE COL

#Define temporary df containing only corr cols
df_corr = dfS.iloc[:, 2*num_analogues:3*num_analogues]

#remove index name before transpose (stack)
df_corr.index.name = ""

#transpose (stack) into single col
corrStack = df_corr.stack()
corrStack.head(25)

19480101  cor1     0.726977
          cor2     0.652806
          cor3     0.623012
          cor4     0.506846
          cor5     0.523203
          cor6     0.457494
          cor7     0.426564
          cor8     0.649643
          cor9     0.608331
          cor10    0.493753
          cor11    0.451300
          cor12    0.356393
          cor13    0.639460
          cor14    0.383338
          cor15    0.619769
          cor16    0.575454
          cor17    0.356389
          cor18    0.587782
          cor19    0.367948
          cor20    0.546730
19480102  cor1     0.760688
          cor2     0.604350
          cor3     0.564686
          cor4     0.636293
          cor5     0.549962
dtype: float64

In [20]:
#BUILD NEW DF IN CORRECT FORMAT

#CREATE DF OF CORRECT DIMENSIONS (n x num_cols)
df_all = dfS.iloc[:, 0:num_cols]
#rename cols
df_all.columns = ['dateAnlg', 'Dis', 'Corr']

In [21]:
#dfS.index.tolist()
df_all.head(10)

          dateAnlg       Dis      Corr

19480101  19560126  19850131  20110114
19480102  19681221  20001211  19551224
19480103  19491206  19741222  19750110
19480104  20031217  19921215  19891221
19480105  19971210  19971209  19931217
19480106  20020122  19710120  19931217
19480107  19781214  19591227  19510112
19480108  20040114  19591228  19781214
19480109  20021230  20020121  19931217
19480110  19550128  19710116  19800130

In [22]:
df_all = df_all.set_index(dfS['dateRef'] )
df_all.head(10)

          dateAnlg       Dis      Corr
dateRef
19480101  19560126  19850131  20110114
19480102  19681221  20001211  19551224
19480103  19491206  19741222  19750110
19480104  20031217  19921215  19891221
19480105  19971210  19971209  19931217
19480106  20020122  19710120  19931217
19480107  19781214  19591227  19510112
19480108  20040114  19591228  19781214
19480109  20021230  20020121  19931217
19480110  19550128  19710116  19800130

In [23]:
#REPLICATE INDEX COL 20 TIMES PER ROW

#http://stackoverflow.com/questions/26777832/replicating-rows-in-a-pandas-data-frame-by-a-column-value
#df2 = df.loc[np.repeat(df.index.values,df.n)]
df_all = df_all.loc[np.repeat(df_all.index.values,num_analogues)]

In [24]:
#REPLACE COLS WITH STACKED ANLG DATES, DIS AND CORR
df_all.iloc[:,0] = list(dateStack)
df_all.iloc[:,1] = list(disStack)
df_all.iloc[:,2] = list(corrStack)
df_all.head(25)

          dateAnlg      Dis      Corr
dateRef
19480101  19560126  515.034  0.726977
19480101  19850131  596.280  0.652806
19480101  20110114  617.760  0.623012
19480101  19850130  634.687  0.506846
19480101  19980114  637.823  0.523203
19480101  19551224  638.138  0.457494
19480101  19521221  645.760  0.426564
19480101  19681220  647.538  0.649643
19480101  19540119  648.427  0.608331
19480101  19870101  650.624  0.493753
19480101  19871224  653.039  0.451300
19480101  19610109  658.585  0.356393
19480101  20001211  666.854  0.639460
19480101  20010108  667.827  0.383338
19480101  20110112  668.390  0.619769
19480101  19560125  674.883  0.575454
19480101  19651223  680.150  0.356389
19480101  19651213  683.547  0.587782
19480101  20031209  686.121  0.367948
19480101  20110113  686.633  0.546730
19480102  19681221  692.016  0.760688
19480102  20001211  699.794  0.604350
19480102  19551224  712.922  0.564686
19480102  20110112  742.944  0.636293
19480102  19560126  755.533  0.549962

In [25]:
df_all.shape

(502040, 3)

In [26]:
df_all.tail(15)

          dateAnlg      Dis      Corr
dateRef
20160921  20010823  509.074  0.463277
20160921  19990912  512.342  0.539685
20160921  20020822  516.161  0.335925
20160921  20130904  516.773  0.528130
20160921  19790906  517.020  0.467019
20160921  19490905  517.301  0.469278
20160921  19810911  519.320  0.547674
20160921  19960823  520.936  0.493447
20160921  19990911  521.202  0.568598
20160921  19590929  526.219  0.621988
20160921  19790905  532.691  0.470806
20160921  19920919  532.711  0.484619
20160921  19920918  533.790  0.415522
20160921  19990915  536.654  0.610709
20160921  20010829  539.057  0.456672

In [33]:
#dfS_select = df_all[df_all.index <= 19600101]

In [27]:
#SAVE TO CSV FILE

#df_all.to_csv('analogues_19480101_20151225.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test2.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test_gt1yr.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test_gt1yr_birdhouse.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test_11anlgs.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test_span2months.json', float_format='%.7f', sep='\t')
#df_all.to_csv('test_gt1yr_birdhouse_03Jan2013.json', float_format='%.7f', sep='\t')

#df_all.to_csv('analogues_19480101_20160520.json', float_format='%.7f', sep='\t')

#dfS_select.to_csv('analogues_select.json', float_format='%.7f', sep='\t')

df_all.to_csv('ana_slp_surface_base_rms_NA_sim_1948-01-01_2016-09-23_base_1948-01-01_2016-09-23_-80.0_50.0_22.5_70.0_1_30_20.json', float_format='%.7f', sep='\t')

In [28]:
pwd

u'/homel/cnangini/PROJECTS/analogues'

In [86]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [87]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [31]:
#check 1970-1979
df_check =  df_all[ (df_all['dateAnlg'] >= 19700101) & (df_all['dateAnlg'] <= 19791231) ]


#((df['column1']=='banana') & (df['colour']=='green'))

In [32]:
df_check.shape

(75935, 3)

In [33]:
df_check =  df_all[ (df_all['dateAnlg'] >= 20100101) & (df_all['dateAnlg'] <= 20191231) ]

In [34]:
df_check.shape

(44554, 3)

In [35]:
#cut file for testing purposes
df_select = df_all.iloc[19000:19100,:]

In [36]:
df_select.shape

(100, 3)

In [37]:
df_select.tail(10)

          dateAnlg         Dis      Corr
dateRef
19500812  19840828  449.988840  0.546204
19500812  19590909  453.044659  0.612506
19500812  20030819  453.638210  0.559760
19500812  19970801  457.039066  0.597291
19500812  19980815  459.252587  0.534387
19500812  19990829  466.308358  0.580896
19500812  19510820  466.860763  0.727749
19500812  20130816  467.150673  0.623782
19500812  19990717  471.338490  0.571134
19500812  19790816  471.416637  0.661347

In [38]:
df_chunk = df_all.iloc[149000:149100,:]
df_chunk2 = df_all.iloc[106000:106100,:]

In [39]:
df_select = df_select.append(df_chunk)
df_select = df_select.append(df_chunk2)
#df_select = pd.concat([df_select,df_chunk])

In [40]:
df_select.shape

(300, 3)

In [41]:
#SAVE SELECTION TO TSV FILE

#df_select.to_csv('analogues_reformat_all_select.tsv', float_format='%.2f', sep='\t')

In [42]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [43]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [44]:
df_select['Corr'].max()
df_select['Corr'].min()
print df_select['Corr'].min(), df_select['Corr'].max()

0.124791552993 0.821019151951

In [45]:
df_select['Dis'].max()
df_select['Dis'].min()
print df_select['Dis'].min(), df_select['Dis'].max()

350.217929418 696.281040107