In [243]:
#Created: 15.02.2016
#Last modified: 18.02.2016
#               29.02.2016 add Corr and Dis cols
#               25.05.2016 updated input file and created truncated file for testing
#               24.05.2016 tested reading in file produced in birdhouse analogs process
#               05.09.2016 format test file for dc chart brush problem

In [58]:
import numpy as np
import pandas as pd
import collections
import os

In [59]:
num_analogues = 20 #number of analogues searched for
num_cols = 3 #dateAnlg, Dis, Corr

In [78]:
#To read file produced in birdhouse
dfS = pd.DataFrame()
#analogs = 'http://birdhouse-lsce.extra.cea.fr:8090/wpsoutputs/flyingpigeon/output_txt-0797016c-378e-11e6-91dd-41d8cd554993.txt'
#analogs = 'http://localhost:8090/wpsoutputs/flyingpigeon/analogs-c26ba398-711e-11e6-8d5a-fb3204a8dad1.txt'

#Analysis period > 1 year
analogs = 'http://birdhouse-lsce.extra.cea.fr:8090/wpsoutputs/flyingpigeon/analogs-5ee81d98-6fc9-11e6-a296-4d3fe2c8a29e.txt'

dfS = pd.read_csv(analogs, delimiter=r"\s+", index_col=0)
dfS.head()

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
20130715,20140617,20140618,20140720,20140616,20140718,20140719,20140721,20140717,20140615,20140619,...,0.040807,0.158543,0.273213,-0.068464,-0.210298,-0.183739,0.202253,-0.196584,0.082900,0.177262
20130716,20140618,20140617,20140619,20140616,20140721,20140719,20140720,20140718,20140722,20140620,...,-0.249727,0.282605,0.135977,0.248536,-0.298021,0.151550,-0.110848,0.110323,-0.312314,-0.269157
20130717,20140619,20140618,20140620,20140617,20140722,20140721,20140720,20140621,20140723,20140719,...,-0.148778,0.255422,-0.153418,-0.096858,-0.068934,-0.252951,-0.067510,0.323493,-0.137571,-0.328731
20130718,20140620,20140619,20140621,20140618,20140622,20140724,20140723,20140721,20140722,20140706,...,-0.262210,-0.245415,0.482811,0.071691,-0.455160,-0.311678,-0.446923,-0.180638,-0.015390,-0.403529
20130719,20140621,20140620,20140622,20140619,20140706,20140707,20140623,20140725,20140802,20140724,...,-0.410743,-0.018606,-0.448994,-0.440269,0.310559,0.315430,0.168408,-0.430002,-0.221050,0.193810

In [79]:
# Create dataframe from analogues file
# Latest file: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat
# 2015: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2015.dat
# Note that last day in 2015 file is 20151225 (and NOT 20151231) because that is the last sunday of Dec 2015.

#dfS = pd.DataFrame()
#dfS = pd.read_csv('/home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat', delimiter=' ', index_col=0)
#dfS.set_index('Date', inplace=True)

#dfS.head(5)

#dfS.index.name

In [80]:
dfS.tail(5)

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
20141128,20131108,20131107,20131109,20131106,20131103,20131104,20131105,20131102,20131110,20131031,...,-0.381940,-0.440711,-0.316047,-0.524591,-0.258546,-0.381223,-0.295259,0.084040,0.126356,-0.040341
20141129,20131108,20131109,20131107,20131110,20131104,20131105,20131103,20131106,20131111,20131101,...,-0.514355,-0.321692,-0.301979,-0.180112,-0.303651,-0.162655,-0.090687,0.138101,0.080167,0.034663
20141130,20131109,20131110,20131108,20131111,20131105,20131107,20131104,20131106,20131112,20131103,...,-0.445715,-0.235280,-0.104036,-0.235899,-0.045316,0.266942,-0.178383,-0.119108,-0.019754,0.005755
20141201,20131110,20131111,20131109,20131112,20131108,20131105,20131106,20131107,20131113,20131103,...,-0.292975,-0.100933,-0.048313,0.225721,0.465037,-0.254059,0.154388,-0.149590,0.122966,-0.160139
20141202,20131111,20131112,20131110,20131113,20131109,20131108,20131107,20131106,20131114,20131104,...,0.045430,0.001527,-0.222373,0.496559,-0.280027,0.320055,-0.010179,0.219799,-0.090785,0.166583

In [81]:
dfS.index

Int64Index([20130715, 20130716, 20130717, 20130718, 20130719, 20130720, 20130721, 20130722, 20130723, 20130724, 20130725, 20130726, 20130727, 20130728, 20130729, 20130730, 20130731, 20130801, 20130802, 20130803, 20130804, 20130805, 20130806, 20130807, 20130808, 20130809, 20130810, 20130811, 20130812, 20130813, 20130814, 20130815, 20130816, 20130817, 20130818, 20130819, 20130820, 20130821, 20130822, 20130823, 20130824, 20130825, 20130826, 20130827, 20130828, 20130829, 20130830, 20130831, 20130901, 20130902, 20130903, 20130904, 20130905, 20130906, 20130907, 20130908, 20130909, 20130910, 20130911, 20130912, 20130913, 20130914, 20130915, 20130916, 20130917, 20130918, 20130919, 20130920, 20130921, 20130922, 20130923, 20130924, 20130925, 20130926, 20130927, 20130928, 20130929, 20130930, 20131001, 20131002, 20131003, 20131004, 20131005, 20131006, 20131007, 20131008, 20131009, 20131010, 20131011, 20131012, 20131013, 20131014, 20131015, 20131016, 20131017, 20131018, 20131019, 20131020, 20131021, 20131022, ...], dtype='int64')

In [82]:
len(dfS.index)

506

In [83]:
#Chop off 2016 rows NO!!! there will still be 2016 dates found as analogues, which messes up js script
#dfS = dfS[dfS.index <= 20151231]

In [84]:
#SAVE DATE INDEX
#DF['id2'] = DF.index
dfS['dateRef'] = dfS.index
dfS['dateRef'].head(10)

date
20130715    20130715
20130716    20130716
20130717    20130717
20130718    20130718
20130719    20130719
20130720    20130720
20130721    20130721
20130722    20130722
20130723    20130723
20130724    20130724
Name: dateRef, dtype: int64

In [85]:
#TRANSPOSE ANLG DATE COLS INTO SINGLE COL

#Define temporary df containing only anlg dates cols
df_anlg = dfS.iloc[:, 0:20]

#remove index name before transpose (stack)
df_anlg.index.name = ""

#transpose (stack)into single col
dateStack = df_anlg.stack()
#dateStack

In [86]:
#TRANSPOSE DIS COLS INTO SINGLE COL

#Define temporary df containing only dis cols
df_dis = dfS.iloc[:, 20:40]

#remove index name before transpose (stack)
df_dis.index.name = ""

#transpose (stack) into single col and take absolute value
disStack = df_dis.stack().abs()
disStack.head(5)

20130715  dis1    18399.063
          dis2    18701.893
          dis3    18872.632
          dis4    18873.726
          dis5    18904.398
dtype: float64

In [87]:
#TRANSPOSE CORR COLS INTO SINGLE COL

#Define temporary df containing only corr cols
df_corr = dfS.iloc[:, 40:60]

#remove index name before transpose (stack)
df_corr.index.name = ""

#transpose (stack) into single col
corrStack = df_corr.stack()
corrStack.head(5)

20130715  cor1    0.028666
          cor2    0.132599
          cor3   -0.249644
          cor4    0.019138
          cor5   -0.296871
dtype: float64

In [88]:
#BUILD NEW DF IN CORRECT FORMAT

#CREATE DF OF CORRECT DIMENSIONS (n x num_cols)
df_all = dfS.iloc[:, 0:num_cols]
#rename cols
df_all.columns = ['dateAnlg', 'Dis', 'Corr']

In [89]:
#dfS.index.tolist()
df_all.head(5)

          dateAnlg       Dis      Corr

20130715  20140617  20140618  20140720
20130716  20140618  20140617  20140619
20130717  20140619  20140618  20140620
20130718  20140620  20140619  20140621
20130719  20140621  20140620  20140622

In [90]:
df_all = df_all.set_index(dfS['dateRef'] )
df_all.head(10)

          dateAnlg       Dis      Corr
dateRef
20130715  20140617  20140618  20140720
20130716  20140618  20140617  20140619
20130717  20140619  20140618  20140620
20130718  20140620  20140619  20140621
20130719  20140621  20140620  20140622
20130720  20140622  20140621  20140620
20130721  20140623  20140622  20140621
20130722  20140624  20140623  20140622
20130723  20140625  20140624  20140623
20130724  20140625  20140626  20140624

In [91]:
#REPLICATE INDEX COL 20 TIMES PER ROW

#http://stackoverflow.com/questions/26777832/replicating-rows-in-a-pandas-data-frame-by-a-column-value
#df2 = df.loc[np.repeat(df.index.values,df.n)]
df_all = df_all.loc[np.repeat(df_all.index.values,num_analogues)]

In [92]:
#REPLACE COLS WITH STACKED ANLG DATES, DIS AND CORR
df_all.iloc[:,0] = list(dateStack)
df_all.iloc[:,1] = list(disStack)
df_all.iloc[:,2] = list(corrStack)
df_all.head(5)

          dateAnlg        Dis      Corr
dateRef
20130715  20140617  18399.063  0.028666
20130715  20140618  18701.893  0.132599
20130715  20140720  18872.632 -0.249644
20130715  20140616  18873.726  0.019138
20130715  20140718  18904.398 -0.296871

In [93]:
df_all.shape

(10120, 3)

In [94]:
df_all.tail(5)

          dateAnlg        Dis      Corr
dateRef
20141202  20131116  41676.696  0.320055
20141202  20131227  41764.615 -0.010179
20141202  20131117  42008.494  0.219799
20141202  20131225  42477.269 -0.090785
20141202  20131118  42534.134  0.166583

In [33]:
#dfS_select = df_all[df_all.index <= 19600101]

In [95]:
#SAVE TO CSV FILE

#df_all.to_csv('analogues_19480101_20151225.json', float_format='%.2f', sep='\t')
#df_all.to_csv('test2.json', float_format='%.2f', sep='\t')
df_all.to_csv('test_gt1yr.json', float_format='%.2f', sep='\t')

#df_all.to_csv('analogues_19480101_20160520.json', float_format='%.2f', sep='\t')

#dfS_select.to_csv('analogues_select.json', float_format='%.2f', sep='\t')

In [77]:
pwd

u'/homel/cnangini/PROJECTS/analogues'

In [86]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [87]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [31]:
#check 1970-1979
df_check =  df_all[ (df_all['dateAnlg'] >= 19700101) & (df_all['dateAnlg'] <= 19791231) ]


#((df['column1']=='banana') & (df['colour']=='green'))

In [32]:
df_check.shape

(75935, 3)

In [33]:
df_check =  df_all[ (df_all['dateAnlg'] >= 20100101) & (df_all['dateAnlg'] <= 20191231) ]

In [34]:
df_check.shape

(44554, 3)

In [35]:
#cut file for testing purposes
df_select = df_all.iloc[19000:19100,:]

In [36]:
df_select.shape

(100, 3)

In [37]:
df_select.tail(10)

          dateAnlg         Dis      Corr
dateRef
19500812  19840828  449.988840  0.546204
19500812  19590909  453.044659  0.612506
19500812  20030819  453.638210  0.559760
19500812  19970801  457.039066  0.597291
19500812  19980815  459.252587  0.534387
19500812  19990829  466.308358  0.580896
19500812  19510820  466.860763  0.727749
19500812  20130816  467.150673  0.623782
19500812  19990717  471.338490  0.571134
19500812  19790816  471.416637  0.661347

In [38]:
df_chunk = df_all.iloc[149000:149100,:]
df_chunk2 = df_all.iloc[106000:106100,:]

In [39]:
df_select = df_select.append(df_chunk)
df_select = df_select.append(df_chunk2)
#df_select = pd.concat([df_select,df_chunk])

In [40]:
df_select.shape

(300, 3)

In [41]:
#SAVE SELECTION TO TSV FILE

#df_select.to_csv('analogues_reformat_all_select.tsv', float_format='%.2f', sep='\t')

In [42]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [43]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [44]:
df_select['Corr'].max()
df_select['Corr'].min()
print df_select['Corr'].min(), df_select['Corr'].max()

0.124791552993 0.821019151951

In [45]:
df_select['Dis'].max()
df_select['Dis'].min()
print df_select['Dis'].min(), df_select['Dis'].max()

350.217929418 696.281040107