In [ ]:
Cathy NANGINI<br>
Dataviz Scientist at LSCE (Climate and Environment Sciences Laboratory)<br>
<img align="left" width="40%" src="http://www.lsce.ipsl.fr/Css/img/banniere_LSCE_75.png"><br><br>
<hr>

Coded: 15.02.2016
Last modified: 18.02.2016
               29.02.2016 #add Corr and Dis cols
               25.05.2016 #updated input file

In [1]:
import numpy as np
import pandas as pd
import collections
import os

In [2]:
num_analogues = 20 #number of analogues searched for
num_cols = 3 #dateAnlg, Dis, Corr

In [71]:
# Create dataframe from analogues file
# Latest file: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat
# 2015: /home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2015.dat
# Note that last day in 2015 file is 20151225 (and NOT 20151231) because that is the last sunday of Dec 2015.

dfS = pd.DataFrame()
dfS = pd.read_csv('/home/estimr1/yiou/estimr1/NCEP/slpano-NA.analog30rms.1d.all1948-2016.dat', delimiter=' ', index_col=0)
#dfS.set_index('Date', inplace=True)

dfS.head(10)

#dfS.index.name

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
19480101,19560126,19850131,20110114,19551224,19850130,19980114,19521221,20001211,19681220,19871224,...,0.496221,0.621166,0.378185,0.594218,0.405146,0.642018,0.371680,0.609394,0.574249,0.360553
19480102,20001211,19681221,19551224,20110112,19560126,19741220,19600121,19681220,19521221,19850131,...,0.555832,0.495013,0.675728,0.473544,0.329316,0.664489,0.592898,0.461061,0.557955,0.495354
19480103,19491206,19741222,19750110,19851222,19641231,19921215,19741221,19931217,19950124,19491207,...,0.591253,0.571268,0.472732,0.424520,0.647300,0.524881,0.521976,0.652673,0.599283,0.510724
19480104,20031217,19891221,19921215,20020121,19510114,19931218,19921216,19741224,19931217,19851222,...,0.452568,0.626040,0.594030,0.556835,0.584066,0.440317,0.448696,0.480303,0.425997,0.356719
19480105,19971210,19971209,19971211,19591230,19931217,19591228,19591229,19950129,20020121,19550120,...,0.605724,0.573436,0.519333,0.550614,0.460997,0.335456,0.569630,0.579993,0.482314,0.523979
19480106,20020122,19710120,19931217,19591227,19991211,20020121,19991210,19950129,19710126,20040113,...,0.638062,0.598376,0.612594,0.537287,0.516235,0.577377,0.580612,0.520389,0.520183,0.538115
19480107,19781214,19591227,19510112,19811214,19991211,19591228,19581213,19571210,20040114,19811213,...,0.703266,0.594786,0.608188,0.717048,0.556172,0.501794,0.564982,0.688275,0.500500,0.594113
19480108,20040114,19591228,19781214,19931217,19811213,19510113,19660102,20030102,19740205,19811214,...,0.634005,0.594175,0.656742,0.559807,0.614881,0.619356,0.546336,0.587567,0.556004,0.397114
19480109,20021230,20020121,19931217,19681220,19861230,19590114,19660206,19811213,19660207,20021229,...,0.489799,0.550935,0.482999,0.471064,0.482160,0.529142,0.489245,0.660489,0.565167,0.519707
19480110,19550128,19710116,19800130,19850126,20030101,20020122,20020121,19590114,19851230,19861231,...,0.512402,0.661750,0.706546,0.604744,0.665836,0.634902,0.541078,0.663847,0.546237,0.603116

In [72]:
dfS.tail(10)

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
20160511,20100609,19630604,19690528,19500521,19500520,20090607,20090608,19500522,19630603,19970523,...,0.451526,0.421506,0.581155,0.508990,0.491213,0.566034,0.582192,0.392645,0.474542,0.397646
20160512,19850522,19710606,20090607,19510608,20090608,20090606,19510609,19530510,19650516,20070611,...,0.673443,0.577038,0.515064,0.401726,0.457045,0.399130,0.482298,0.552978,0.441049,0.646569
20160513,19750531,19940525,19710607,19710606,19680520,20090606,19770414,19680519,19840608,19850522,...,0.461417,0.367537,0.579212,0.567903,0.593313,0.531588,0.572054,0.467273,0.573204,0.634907
20160514,19900610,19580611,20010611,19690603,19680520,19690531,19750531,19770414,19940527,19940526,...,0.548156,0.566060,0.527677,0.515163,0.464214,0.503271,0.568822,0.608766,0.624639,0.530269
20160515,20010610,20010611,19980520,19900610,20130601,19520612,19980521,19550422,19630613,19710429,...,0.430399,0.418211,0.406119,0.492372,0.450787,0.470254,0.494641,0.526237,0.440429,0.379494
20160516,19930615,19490608,19930614,20010611,19760531,19490607,19540531,20030514,19480614,19700612,...,0.288711,0.431322,0.464426,0.292697,0.479613,0.438870,0.368881,0.453859,0.422508,0.445319
20160517,19490608,19580512,19930616,20000608,20130616,19580513,19990604,19480615,19560606,20130609,...,0.377781,0.446346,0.260932,0.395741,0.299494,0.349093,0.488878,0.434827,0.477143,0.562385
20160518,19660606,20150531,19890608,19620612,19800617,19610607,19660605,19660522,19500616,19820523,...,0.661634,0.521411,0.569020,0.360218,0.655028,0.432558,0.632278,0.377673,0.472084,0.517838
20160519,19800617,19660606,19860607,19870618,19590605,19800618,19820524,20030607,20020607,19480530,...,0.552167,0.413692,0.585274,0.549624,0.433933,0.572546,0.620687,0.488816,0.545671,0.398830
20160520,20090617,20030607,19800617,20030618,19960610,20020529,20020530,19710510,19800618,19860515,...,0.467641,0.451211,0.451093,0.607391,0.343350,0.491479,0.482137,0.510640,0.505804,0.421076

In [73]:
dfS.index

Int64Index([19480101, 19480102, 19480103, 19480104, 19480105, 19480106,
            19480107, 19480108, 19480109, 19480110,
            ...
            20160511, 20160512, 20160513, 20160514, 20160515, 20160516,
            20160517, 20160518, 20160519, 20160520],
           dtype='int64', name=u'date', length=24978)

In [74]:
#Chop off 2016 rows NO!!! there will still be 2016 dates found as analogues, which messes up js script
#dfS = dfS[dfS.index <= 20151231]

In [75]:
dfS.tail(10)

,date.an1,date.an2,date.an3,date.an4,date.an5,date.an6,date.an7,date.an8,date.an9,date.an10,...,cor11,cor12,cor13,cor14,cor15,cor16,cor17,cor18,cor19,cor20
date,,,,,,,,,,,,,,,,,,,,,
20160511,20100609,19630604,19690528,19500521,19500520,20090607,20090608,19500522,19630603,19970523,...,0.451526,0.421506,0.581155,0.508990,0.491213,0.566034,0.582192,0.392645,0.474542,0.397646
20160512,19850522,19710606,20090607,19510608,20090608,20090606,19510609,19530510,19650516,20070611,...,0.673443,0.577038,0.515064,0.401726,0.457045,0.399130,0.482298,0.552978,0.441049,0.646569
20160513,19750531,19940525,19710607,19710606,19680520,20090606,19770414,19680519,19840608,19850522,...,0.461417,0.367537,0.579212,0.567903,0.593313,0.531588,0.572054,0.467273,0.573204,0.634907
20160514,19900610,19580611,20010611,19690603,19680520,19690531,19750531,19770414,19940527,19940526,...,0.548156,0.566060,0.527677,0.515163,0.464214,0.503271,0.568822,0.608766,0.624639,0.530269
20160515,20010610,20010611,19980520,19900610,20130601,19520612,19980521,19550422,19630613,19710429,...,0.430399,0.418211,0.406119,0.492372,0.450787,0.470254,0.494641,0.526237,0.440429,0.379494
20160516,19930615,19490608,19930614,20010611,19760531,19490607,19540531,20030514,19480614,19700612,...,0.288711,0.431322,0.464426,0.292697,0.479613,0.438870,0.368881,0.453859,0.422508,0.445319
20160517,19490608,19580512,19930616,20000608,20130616,19580513,19990604,19480615,19560606,20130609,...,0.377781,0.446346,0.260932,0.395741,0.299494,0.349093,0.488878,0.434827,0.477143,0.562385
20160518,19660606,20150531,19890608,19620612,19800617,19610607,19660605,19660522,19500616,19820523,...,0.661634,0.521411,0.569020,0.360218,0.655028,0.432558,0.632278,0.377673,0.472084,0.517838
20160519,19800617,19660606,19860607,19870618,19590605,19800618,19820524,20030607,20020607,19480530,...,0.552167,0.413692,0.585274,0.549624,0.433933,0.572546,0.620687,0.488816,0.545671,0.398830
20160520,20090617,20030607,19800617,20030618,19960610,20020529,20020530,19710510,19800618,19860515,...,0.467641,0.451211,0.451093,0.607391,0.343350,0.491479,0.482137,0.510640,0.505804,0.421076

In [76]:
#SAVE DATE INDEX
#DF['id2'] = DF.index
dfS['dateRef'] = dfS.index
dfS['dateRef'].head(10)

date
19480101    19480101
19480102    19480102
19480103    19480103
19480104    19480104
19480105    19480105
19480106    19480106
19480107    19480107
19480108    19480108
19480109    19480109
19480110    19480110
Name: dateRef, dtype: int64

In [77]:
#TRANSPOSE ANLG DATE COLS INTO SINGLE COL

#Define temporary df containing only anlg dates cols
df_anlg = dfS.iloc[:, 0:20]

#remove index name before transpose (stack)
df_anlg.index.name = ""

#transpose (stack)into single col
dateStack = df_anlg.stack()
dateStack

19480101  date.an1     19560126
          date.an2     19850131
          date.an3     20110114
          date.an4     19551224
          date.an5     19850130
          date.an6     19980114
          date.an7     19521221
          date.an8     20001211
          date.an9     19681220
          date.an10    19871224
          date.an11    19870101
          date.an12    19540119
          date.an13    19610109
          date.an14    19560125
          date.an15    20010108
          date.an16    20110112
          date.an17    19651223
          date.an18    19651213
          date.an19    20110113
          date.an20    20031209
19480102  date.an1     20001211
          date.an2     19681221
          date.an3     19551224
          date.an4     20110112
          date.an5     19560126
          date.an6     19741220
          date.an7     19600121
          date.an8     19681220
          date.an9     19521221
          date.an10    19850131
                         ...
20160519  date.an11    19590601
          date.an12    19500616
          date.an13    19920511
          date.an14    20060617
          date.an15    20030617
          date.an16    19660604
          date.an17    20150531
          date.an18    19590604
          date.an19    19620613
          date.an20    20020529
20160520  date.an1     20090617
          date.an2     20030607
          date.an3     19800617
          date.an4     20030618
          date.an5     19960610
          date.an6     20020529
          date.an7     20020530
          date.an8     19710510
          date.an9     19800618
          date.an10    19860515
          date.an11    19760606
          date.an12    20030617
          date.an13    19620613
          date.an14    19920512
          date.an15    19690616
          date.an16    19660604
          date.an17    19660606
          date.an18    19530619
          date.an19    19900606
          date.an20    20060617
dtype: int64

In [78]:
#TRANSPOSE DIS COLS INTO SINGLE COL

#Define temporary df containing only dis cols
df_dis = dfS.iloc[:, 20:40]

#remove index name before transpose (stack)
df_dis.index.name = ""

#transpose (stack) into single col and take absolute value
disStack = df_dis.stack().abs()
disStack.head(25)

19480101  dis1     523.718206
          dis2     586.869671
          dis3     623.142963
          dis4     632.451441
          dis5     635.342055
          dis6     636.737753
          dis7     642.449041
          dis8     644.040912
          dis9     645.132748
          dis10    648.539747
          dis11    650.623726
          dis12    652.042240
          dis13    657.839335
          dis14    662.601945
          dis15    664.737881
          dis16    664.842232
          dis17    672.659602
          dis18    675.341353
          dis19    682.997292
          dis20    685.759927
19480102  dis1     681.684881
          dis2     688.468966
          dis3     709.115562
          dis4     739.039579
          dis5     759.585732
dtype: float64

In [79]:
#TRANSPOSE CORR COLS INTO SINGLE COL

#Define temporary df containing only corr cols
df_corr = dfS.iloc[:, 40:60]

#remove index name before transpose (stack)
df_corr.index.name = ""

#transpose (stack) into single col
corrStack = df_corr.stack()
corrStack.head(25)

19480101  cor1     0.708411
          cor2     0.676774
          cor3     0.640160
          cor4     0.485714
          cor5     0.519610
          cor6     0.532451
          cor7     0.420413
          cor8     0.672397
          cor9     0.679518
          cor10    0.443027
          cor11    0.496221
          cor12    0.621166
          cor13    0.378185
          cor14    0.594218
          cor15    0.405146
          cor16    0.642018
          cor17    0.371680
          cor18    0.609394
          cor19    0.574249
          cor20    0.360553
19480102  cor1     0.621374
          cor2     0.758056
          cor3     0.570100
          cor4     0.640441
          cor5     0.539644
dtype: float64

In [80]:
#BUILD NEW DF IN CORRECT FORMAT

#CREATE DF OF CORRECT DIMENSIONS (n x num_cols)
df_all = dfS.iloc[:, 0:num_cols]
#rename cols
df_all.columns = ['dateAnlg', 'Dis', 'Corr']

df_all = df_all.set_index(dfS['dateRef'])
df_all.head(10)


#df_all.head(10)

          dateAnlg       Dis      Corr
dateRef
19480101  19560126  19850131  20110114
19480102  20001211  19681221  19551224
19480103  19491206  19741222  19750110
19480104  20031217  19891221  19921215
19480105  19971210  19971209  19971211
19480106  20020122  19710120  19931217
19480107  19781214  19591227  19510112
19480108  20040114  19591228  19781214
19480109  20021230  20020121  19931217
19480110  19550128  19710116  19800130

In [81]:
#REPLICATE INDEX COL 20 TIMES PER ROW

#http://stackoverflow.com/questions/26777832/replicating-rows-in-a-pandas-data-frame-by-a-column-value
#df2 = df.loc[np.repeat(df.index.values,df.n)]
df_all = df_all.loc[np.repeat(df_all.index.values,num_analogues)]

In [82]:
#REPLACE COLS WITH STACKED ANLG DATES, DIS AND CORR
df_all.iloc[:,0] = list(dateStack)
df_all.iloc[:,1] = list(disStack)
df_all.iloc[:,2] = list(corrStack)
df_all.head(5)

          dateAnlg         Dis      Corr
dateRef
19480101  19560126  523.718206  0.708411
19480101  19850131  586.869671  0.676774
19480101  20110114  623.142963  0.640160
19480101  19551224  632.451441  0.485714
19480101  19850130  635.342055  0.519610

In [83]:
df_all.shape

(499560, 3)

In [84]:
df_all.tail(5)

          dateAnlg         Dis      Corr
dateRef
20160520  19660604  539.373356  0.491479
20160520  19660606  542.440262  0.482137
20160520  19530619  545.527436  0.510640
20160520  19900606  546.579116  0.505804
20160520  20060617  546.961279  0.421076

In [85]:
#SAVE TO CSV FILE

#df_all.to_csv('analogues_19480101_20151225.json', float_format='%.2f', sep='\t')

df_all.to_csv('analogues_19480101_20160520.json', float_format='%.2f', sep='\t')

In [86]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [87]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [31]:
#check 1970-1979
df_check =  df_all[ (df_all['dateAnlg'] >= 19700101) & (df_all['dateAnlg'] <= 19791231) ]


#((df['column1']=='banana') & (df['colour']=='green'))

In [32]:
df_check.shape

(75935, 3)

In [33]:
df_check =  df_all[ (df_all['dateAnlg'] >= 20100101) & (df_all['dateAnlg'] <= 20191231) ]

In [34]:
df_check.shape

(44554, 3)

In [35]:
#cut file for testing purposes
df_select = df_all.iloc[19000:19100,:]

In [36]:
df_select.shape

(100, 3)

In [37]:
df_select.tail(10)

          dateAnlg         Dis      Corr
dateRef
19500812  19840828  449.988840  0.546204
19500812  19590909  453.044659  0.612506
19500812  20030819  453.638210  0.559760
19500812  19970801  457.039066  0.597291
19500812  19980815  459.252587  0.534387
19500812  19990829  466.308358  0.580896
19500812  19510820  466.860763  0.727749
19500812  20130816  467.150673  0.623782
19500812  19990717  471.338490  0.571134
19500812  19790816  471.416637  0.661347

In [38]:
df_chunk = df_all.iloc[149000:149100,:]
df_chunk2 = df_all.iloc[106000:106100,:]

In [39]:
df_select = df_select.append(df_chunk)
df_select = df_select.append(df_chunk2)
#df_select = pd.concat([df_select,df_chunk])

In [40]:
df_select.shape

(300, 3)

In [41]:
#SAVE SELECTION TO TSV FILE

#df_select.to_csv('analogues_reformat_all_select.tsv', float_format='%.2f', sep='\t')

In [42]:
print df_all['Corr'].min(), df_all['Corr'].max()

-0.0773818303236 0.952985818969

In [43]:
print df_all['Dis'].min(), df_all['Dis'].max()

284.431297359 1369.41118104

In [44]:
df_select['Corr'].max()
df_select['Corr'].min()
print df_select['Corr'].min(), df_select['Corr'].max()

0.124791552993 0.821019151951

In [45]:
df_select['Dis'].max()
df_select['Dis'].min()
print df_select['Dis'].min(), df_select['Dis'].max()

350.217929418 696.281040107